.input-block {
    position: relative;
  }
  
  .input-block + .input-block {
    margin-top: 1.4rem;
  }
  
  .input-block label {
    font-size: 1.4rem;
  }
  
  .input-block input {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border: 2px solid #A1DEEC;
    box-sizing: border-box;
    border-radius: 40px;
    }
  
  .input-block:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: "";
    background: var(--color-text-danger);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
  }

  .input-block input::placeholder {
      align-items: flex-end;
      padding-left: 50px;
  }

  .input-block .symbol-input100 {

    position: absolute;
    left: 10.69%;
    right: 57.64%;
    top: 38.28%;
    bottom: 59.38%;
  }
  
  #page-main .box-subscribe .box-title .input100:focus + .focus-input100 + .symbol-input100 {
    color: var(--color-primary);/*#57b846;*/
    padding-left: 28px;  
  }  