:root {
    --color-background: #f0f0f7;
    --color-primary-lighter: #E0F2F7;/*87CEFA;*/
    --color-primary-light: #def7fc;
    --color-primary: #A1DEEC;
    --color-primary-dark: #0000CD;
    --color-primary-darker: #00008B;
    --color-secundary: #04d361;
    --color-secundary-dark: #04bf58;
    --color-title-in-primary: #ffffff;
    --color-text-in-primary: #ffffff;  /*d4c2ff*/
    --color-text-title: #191970; /*32264d*/
    --color-text-complement: #9c98a6;
    --color-text-base: #6a6180;
    --color-line-in-white: #e6e6f0;
    --color-input-background: #f8f8fc;
    --color-button-text: #ffffff;
    --color-box-base: #ffffff;
    --color-box-footer: #fafafc;
    --color-text-danger: #970505;
    --color-text-danger-light: #B40404;
  
    font-size: 60%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    height: 100vh;
  }
  
  body {
    background: var(--color-background);
  }
  
  #root {
    display: flex;
    align-items: center;
    justify-content: center;    
  }
  
  body,
  input,
  button,
  textarea {
    font: 500 1.6rem Poppins;
  }
  
  .container {
    width: 90vw;
    max-width: 700px;    
  }
  
  @media (min-width: 700px) {
    :root {
      font-size: 62.5%;
    }
  }